<ion-header>
  <ion-toolbar>
    <ion-title>Recettes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Liste de recettes</h1>
  <ion-item-sliding>
    <!-- For pour lister les recettes -->
    <ion-list *ngFor="let r of recipes">
      <ion-item>
        <ion-thumbnail slot=start>
          <ion-avatar *ngIf="r.picture">
            <img [src]="r.picture" />
          </ion-avatar>
        </ion-thumbnail>
        <ion-label>
          <!-- r.title permet de faire appel au titre del a recette -->
          <h2>{{ r.title }}</h2>
        </ion-label>
        <!-- fonction share au click sur le bouton pour partager -->
        <ion-button slot=end (click)="share(r)">
          <ion-icon slot='icon-only' name="share-social"></ion-icon>
        </ion-button>
        <!-- fonction d'apparation de la recette sur click sur le bouton -->
        <ion-button slot=end (click)="showRecipe(r)">
          <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-item-sliding>
</ion-content>