<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipe"></ion-back-button>
    </ion-buttons>
    <ion-title> {{ recipe?.title }}</ion-title>
    <ion-title> Difficulté :{{ recipe?.difficulty }}</ion-title>
    <ion-title> Temps : {{ recipe?.time }} Minutes</ion-title>
    <ion-button (click)="startTimer()">Start Minuteur!</ion-button>
    <ion-note>Il reste {{ counter }} secondes !</ion-note>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img [src]="recipe.picture"></ion-img>
    <ion-item>
      <ion-label position='stacked'>Ingrédiants</ion-label>
      <ion-input [value]="recipe.ingrediants1"></ion-input>
      <ion-input [value]="recipe.ingrediants2"></ion-input>
      <ion-input [value]="recipe.ingrediants3"></ion-input>
      <ion-input [value]="recipe.ingrediants4"></ion-input>
      <ion-input [value]="recipe.ingrediants5"></ion-input>
      <ion-input [value]="recipe.ingrediants6"></ion-input>
      <ion-input [value]="recipe.ingrediants7"></ion-input>
      <ion-input [value]="recipe.ingrediants8"></ion-input>
      <ion-input [value]="recipe.ingrediants9"></ion-input>
      <ion-input [value]="recipe.ingrediants10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position='stacked'>Instructions</ion-label>
      <ion-input [value]="recipe.instructions1"></ion-input>
      <ion-input [value]="recipe.instructions2"></ion-input>
      <ion-input [value]="recipe.instructions3"></ion-input>
      <ion-input [value]="recipe.instructions4"></ion-input>
      <ion-input [value]="recipe.instructions5"></ion-input>
      <ion-input [value]="recipe.instructions6"></ion-input>
    </ion-item>
  </ion-card>
</ion-content>